<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/css/layer.css" rel="stylesheet">
    <link href="/static/css/layer.ext.css" rel="stylesheet">
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.base64.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-editable.js"></script>
    <script src="/static/js/bootstrap-table-toolbar.js"></script>
    <script src="/static/js/bootstrap-table-export.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script src="/static/js/bootstrap-editable.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/layer.js"></script>
    <script src="/static/js/layer.ext.js"></script>
    {% block script-js-css %}
    {% endblock %}
    <title>佛山科瑞森运维平台</title>
  </head>
  <body style="min-height: 100%;">
      <section id="container" >

          <header class="header black-bg">
                  <div class="sidebar-toggle-box">
                      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                  </div>
                <!--logo start-->
                <a href="{% url 'asset:index' %}" class="logo"><b>佛山科瑞森运维平台</b></a>
                <!--logo end-->
		        <div class="dropdown">
			            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					            {{  request.user }}
					            <span class="caret"></span>
			            </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="logout" href="{% url 'asset:changepassword' %}">修改密码</a></li>
                        {% if request.user.is_superuser %}
                            <li><a href="{% url 'asset:user_all' 'list' %}">用户管理</a></li>
                        {% endif %}
                        <li><a class="logout" href="{% url 'asset:logout' %}">退出</a></li>
			        </ul>
		        </div>

          </header>

          <aside>
              <div id="sidebar"  class="nav-collapse ">
                   {% csrf_token %}
                  <!-- sidebar menu start-->
                  <ul id="group" class="sidebar-menu" id="nav-accordion">

                      <p class="centered"><img src="/static/img/logo.svg" class="img-circle" width="120"></p>

                      <li class="mt">
                          <div class="active">
                              <i class="fa fa-dashboard"></i>
                              <span>Dashboard</span>
                          </div>
                      </li>
                      <li class="sub-menu">
                          <div id="resource">
                              <i class="fa fa-tasks"></i>
                              <span>资源管理</span>
                          </div>
                          <ul class="sub">
                              <li><a href="{% url 'api:restapi:asset' %}">主机管理</a></li>
                              <li><a href="{% url 'api:restapi:asset' %}">虚拟机管理</a></li>
                              <li><a href="{% url 'api:restapi:asset' %}">硬件设备管理</a></li>
                          </ul>
                      </li>
                      <li class="sub-menu">
                          <div id="monitor">
                              <i class="fa fa-bar-chart-o"></i>
                              <span>监控预警</span>
                          </div>
                          <ul class="sub">
                              <li><a  href="{% url 'api:restapi:asset' %}">服务器状态监控</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">日志监控分析</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">预警管理</a></li>
                          </ul>
                      </li>
                      <li class="sub-menu">
                          <div id="deploy">
                              <i class="fa fa-cubes"></i>
                              <span>部署</span>
                          </div>
                          <ul class="sub">
                              <li><a  href="{% url 'api:restapi:asset' %}">项目部署</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">基础软件安装</a></li>
                          </ul>
                      </li>
                      <li class="sub-menu">
                          <div id="batchops">
                              <i class="fa fa-desktop"></i>
                              <span>批量运维</span>
                          </div>
                          <ul class="sub">
                              <li><a  href="{% url 'api:restapi:asset' %}">执行命令</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">计划任务</a></li>
                          </ul>
                      </li>
                      <li class="sub-menu">
                          <div id="logaudit">
                              <i class="fa fa-book"></i>
                              <span>日志审计</span>
                          </div>
                          <ul class="sub">
                              <li><a  href="{% url 'api:restapi:asset' %}">应用日志</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">操作日志</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">系统日志</a></li>
                          </ul>
                      </li>
                      <li class="sub-menu">
                          <div id="security_performance">
                              <i class="fa fa-joomla"></i>
                              <span>安全与性能</span>
                          </div>
                          <ul class="sub">
                              <li><a  href="{% url 'api:restapi:asset' %}">性能测试</a></li>
                              <li><a  href="{% url 'api:restapi:asset' %}">安全检测</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </aside>
            <div id="main-content">
                  <div class="wrapper">
                       {% block content %}
                       {% endblock %}

                  </div>
            </div>

        </section>
         <footer style="position: absolute;bottom: 0;width: 100%;z-index: -1;" class="site-footer">
              <div class="text-center">
                  2017©佛山科瑞森科技有限公司
              </div>
         </footer>
       </body>

          <script>
              $(document).ready(function() {
                  $("ul#group li div").click(function () {
                      $(this).nextAll("ul").toggle()
                  });//end group li
              });//end ready
          </script>
          {% block end-scripts %}
          {% endblock %}
</html>
