{% extends 'asset/base.html' %}
{% block content %}
    <h2>修改密码</h2>
    {% if old_password_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>请检查原密码正确性
        </div>
    {% endif %}
    {% if new_password_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>请确认新密码一致性
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="form-actions">
                <button class="btn btn-primary" type="reset">重置 </button>
                <input type="submit" value="确认修改" class="btn btn-primary">
            </p>
        </form>
    </div>
{% endblock %}